body {
    --yt-spec-text-primary: #ccc !important;
}

#content-text.ytd-comment-renderer {
    font-size: 1.6rem !important;
}

ytd-expander.ytd-video-secondary-info-renderer {
    font-size: 1.5rem !important;
}